In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

In [3]:
df = pd.read_csv("verionislem.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             20 non-null     int64
 1   Yaş            16 non-null     float64
 2   Maaş           18 non-null     float64
 3   Şehir          20 non-null     object
 4   Çalışma Saati  20 non-null     int64
 5   Memnuniyet     20 non-null     int64
 6   Departman      20 non-null     object
 7   Deneyim Yılı   20 non-null     int64
dtypes: float64(2), int64(4), object(2)
memory usage: 1.4+ KB

In [4]:
#1 Eksik verileri doldurma (Yaş ve Maaş eksikti - Ortalama)
df["Yaş"].fillna(df["Yaş"].mean(), inplace=True)
df["Maaş"].fillna(df["Maaş"].mean(),inplace=True)

/tmp/ipykernel_16223/4009172638.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Yaş"].fillna(df["Yaş"].mean(), inplace=True)
/tmp/ipykernel_16223/4009172638.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Maaş"].fillna(df["Maaş"].mean(),inplace=True)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             20 non-null     int64
 1   Yaş            20 non-null     float64
 2   Maaş           20 non-null     float64
 3   Şehir          20 non-null     object
 4   Çalışma Saati  20 non-null     int64
 5   Memnuniyet     20 non-null     int64
 6   Departman      20 non-null     object
 7   Deneyim Yılı   20 non-null     int64
dtypes: float64(2), int64(4), object(2)
memory usage: 1.4+ KB

In [7]:
df

,ID,Yaş,Maaş,Şehir,Çalışma Saati,Memnuniyet,Departman,Deneyim Yılı
0,1,25.0000,3000.000000,İstanbul,40,3,IT,1
1,2,30.0000,4500.000000,Ankara,45,4,Muhasebe,5
2,3,35.0000,5000.000000,İzmir,50,5,Pazarlama,10
3,4,35.1875,7000.000000,İstanbul,38,2,IT,3
4,5,40.0000,3200.000000,Ankara,42,3,Muhasebe,7
5,6,50.0000,8000.000000,İzmir,55,5,Pazarlama,12
6,7,28.0000,5766.666667,İstanbul,60,1,IT,2
7,8,32.0000,6200.000000,Ankara,48,4,Muhasebe,4
8,9,35.1875,7500.000000,İzmir,35,2,Pazarlama,6
9,10,45.0000,9000.000000,İstanbul,70,5,IT,15
10,11,29.0000,4000.000000,Bursa,39,4,İnsan Kaynakları,3
11,12,38.0000,5200.000000,Adana,44,3,Operasyon,8
12,13,41.0000,5600.000000,Trabzon,52,4,Satış,9
13,14,35.1875,6800.000000,Eskişehir,41,5,Ar-Ge,5
14,15,36.0000,7100.000000,Gaziantep,53,3,Üretim,6
15,16,27.0000,4300.000000,Konya,47,2,Lojistik,2
16,17,34.0000,3900.000000,Antalya,49,4,Finans,11
17,18,42.0000,4700.000000,Mersin,46,5,Satın Alma,14
18,19,31.0000,5766.666667,Kayseri,50,1,Kalite,4
19,20,35.1875,8800.000000,Diyarbakır,65,3,Hukuk,13

In [8]:
#2 Aykırı değerleri belirleme ve temizleme 
Q1 = df["Çalışma Saati"].quantile(0.25)
Q3 = df["Çalışma Saati"].quantile(0.75)
IQR = Q3 - Q1
alt_sinir = Q1 - 1.5 * IQR
ust_sinir = Q3 + 1.5 * IQR
(df["Çalışma Saati"] >= alt_sinir) & (df["Çalışma Saati"] >= ust_sinir)

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9      True
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
Name: Çalışma Saati, dtype: bool

In [9]:
df = df[(df["Çalışma Saati"] >= alt_sinir) & (df["Çalışma Saati"] <= ust_sinir)]

In [10]:
(df["Çalışma Saati"] >= alt_sinir) & (df["Çalışma Saati"] >= ust_sinir)

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
Name: Çalışma Saati, dtype: bool

In [11]:
df

,ID,Yaş,Maaş,Şehir,Çalışma Saati,Memnuniyet,Departman,Deneyim Yılı
0,1,25.0000,3000.000000,İstanbul,40,3,IT,1
1,2,30.0000,4500.000000,Ankara,45,4,Muhasebe,5
2,3,35.0000,5000.000000,İzmir,50,5,Pazarlama,10
3,4,35.1875,7000.000000,İstanbul,38,2,IT,3
4,5,40.0000,3200.000000,Ankara,42,3,Muhasebe,7
5,6,50.0000,8000.000000,İzmir,55,5,Pazarlama,12
6,7,28.0000,5766.666667,İstanbul,60,1,IT,2
7,8,32.0000,6200.000000,Ankara,48,4,Muhasebe,4
8,9,35.1875,7500.000000,İzmir,35,2,Pazarlama,6
10,11,29.0000,4000.000000,Bursa,39,4,İnsan Kaynakları,3
11,12,38.0000,5200.000000,Adana,44,3,Operasyon,8
12,13,41.0000,5600.000000,Trabzon,52,4,Satış,9
13,14,35.1875,6800.000000,Eskişehir,41,5,Ar-Ge,5
14,15,36.0000,7100.000000,Gaziantep,53,3,Üretim,6
15,16,27.0000,4300.000000,Konya,47,2,Lojistik,2
16,17,34.0000,3900.000000,Antalya,49,4,Finans,11
17,18,42.0000,4700.000000,Mersin,46,5,Satın Alma,14
18,19,31.0000,5766.666667,Kayseri,50,1,Kalite,4
19,20,35.1875,8800.000000,Diyarbakır,65,3,Hukuk,13

In [21]:
#Kategorik verileri sayısallaştırma (label encoding kullanıyoruz)

label_encoder = LabelEncoder()
#df["Şehir"] = label_encoder.fit_transform(df["Şehir"])
#df["Departman"] = label_encoder.fit_transform(df["Departman"])

label_encoder.fit_transform(df["Şehir"])
label_encoder.fit_transform(df["Departman"])
df

,ID,Yaş,Maaş,Şehir,Çalışma Saati,Memnuniyet,Departman,Deneyim Yılı
0,1,25.0000,0.000000,11,0.166667,3,3,0.000000
1,2,30.0000,0.258621,1,0.333333,4,6,0.307692
2,3,35.0000,0.344828,12,0.500000,5,8,0.692308
3,4,35.1875,0.689655,11,0.100000,2,3,0.153846
4,5,40.0000,0.034483,1,0.233333,3,6,0.461538
5,6,50.0000,0.862069,12,0.666667,5,8,0.846154
6,7,28.0000,0.477011,11,0.833333,1,3,0.076923
7,8,32.0000,0.551724,1,0.433333,4,6,0.230769
8,9,35.1875,0.775862,12,0.000000,2,8,0.384615
10,11,29.0000,0.172414,3,0.133333,4,12,0.153846
11,12,38.0000,0.379310,0,0.300000,3,7,0.538462
12,13,41.0000,0.448276,10,0.566667,4,10,0.615385
13,14,35.1875,0.655172,5,0.200000,5,0,0.307692
14,15,36.0000,0.706897,6,0.600000,3,11,0.384615
15,16,27.0000,0.224138,8,0.400000,2,5,0.076923
16,17,34.0000,0.155172,2,0.466667,4,1,0.769231
17,18,42.0000,0.293103,9,0.366667,5,9,1.000000
18,19,31.0000,0.477011,7,0.500000,1,4,0.230769
19,20,35.1875,1.000000,4,1.000000,3,2,0.923077

In [23]:
# Normalizasyon
scaler = MinMaxScaler()
#df[["Maaş","Çalışma Saati", "Deneyim Yılı"]] = 
scaler.fit_transform(df[["Maaş","Çalışma Saati", "Deneyim Yılı"]])

array([[0.        , 0.16666667, 0.        ],
       [0.25862069, 0.33333333, 0.30769231],
       [0.34482759, 0.5       , 0.69230769],
       [0.68965517, 0.1       , 0.15384615],
       [0.03448276, 0.23333333, 0.46153846],
       [0.86206897, 0.66666667, 0.84615385],
       [0.47701149, 0.83333333, 0.07692308],
       [0.55172414, 0.43333333, 0.23076923],
       [0.77586207, 0.        , 0.38461538],
       [0.17241379, 0.13333333, 0.15384615],
       [0.37931034, 0.3       , 0.53846154],
       [0.44827586, 0.56666667, 0.61538462],
       [0.65517241, 0.2       , 0.30769231],
       [0.70689655, 0.6       , 0.38461538],
       [0.22413793, 0.4       , 0.07692308],
       [0.15517241, 0.46666667, 0.76923077],
       [0.29310345, 0.36666667, 1.        ],
       [0.47701149, 0.5       , 0.23076923],
       [1.        , 1.        , 0.92307692]])

In [24]:
df

,ID,Yaş,Maaş,Şehir,Çalışma Saati,Memnuniyet,Departman,Deneyim Yılı
0,1,25.0000,0.000000,11,0.166667,3,3,0.000000
1,2,30.0000,0.258621,1,0.333333,4,6,0.307692
2,3,35.0000,0.344828,12,0.500000,5,8,0.692308
3,4,35.1875,0.689655,11,0.100000,2,3,0.153846
4,5,40.0000,0.034483,1,0.233333,3,6,0.461538
5,6,50.0000,0.862069,12,0.666667,5,8,0.846154
6,7,28.0000,0.477011,11,0.833333,1,3,0.076923
7,8,32.0000,0.551724,1,0.433333,4,6,0.230769
8,9,35.1875,0.775862,12,0.000000,2,8,0.384615
10,11,29.0000,0.172414,3,0.133333,4,12,0.153846
11,12,38.0000,0.379310,0,0.300000,3,7,0.538462
12,13,41.0000,0.448276,10,0.566667,4,10,0.615385
13,14,35.1875,0.655172,5,0.200000,5,0,0.307692
14,15,36.0000,0.706897,6,0.600000,3,11,0.384615
15,16,27.0000,0.224138,8,0.400000,2,5,0.076923
16,17,34.0000,0.155172,2,0.466667,4,1,0.769231
17,18,42.0000,0.293103,9,0.366667,5,9,1.000000
18,19,31.0000,0.477011,7,0.500000,1,4,0.230769
19,20,35.1875,1.000000,4,1.000000,3,2,0.923077